head {
   background-color: black;
   background-size: auto, 100px;
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    font-size: 15pt;
}

.nav > li{
    display:  inline-block;
    font-size: 15pt;
    padding-right: 50px;
}

.nav > li > a{
    color: rgb(0, 0, 0)
}

.nav > li > a:hover{
    color: rgb(255, 255, 255)
}

#table {
    background-color: black;
    color: red;
}

.table:hover {
    background-color: #ffff00;
    color: #000;
}

#table:hover {
    background-color: #c22e00;
    color: #000;
}

.box {
    width: 50%;
    right: 100px;
    bottom: 100px;
}

#Logo {
    width: 25%;
}

p {
    right: 0px;
    bottom: 0px;
    color: red;
}

.tableHead {
    border-bottom: 2px, dashed white;
}

td {
    text-align: center;
    text-decoration: bold;
}