head {
   background-color: black;
   background-size: auto, 100px;
   font-family: 'Rammetto One', cursive;
}

body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Rammetto One', cursive;
}

h1{
    margin: 2px;
}

.nav{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 15pt;
    text-align: center;
    position: fixed;
}

.nav > li{
    display:  inline-block;
    font-size: 15pt;
    padding-right: 50px;
}

.nav > li > a{
    color: rgb(0, 0, 0)
}

.nav > li > a:hover{
    color: rgb(255, 255, 255)
}

#table {
    width: 25%;
    color: red;
}

#table:hover {
    background-color: #f42208;
    color: #000;
}

.box {
    width: 50%;
    right: 100px;
    bottom: 100px;
}

#Logo {
    width: 25%;
}

p {
    right: 0px;
    bottom: 0px;
    color: red;
}

.tableHead {
    border-bottom: 2px, dashed white;
}

td {
    text-align: center;
}
#slideshow{
    width: 500px;
    height: 350px;
    margin-left: 500px;
    margin-top: 150px;
}

#Logo{
    position: fixed;
    right: 500px;
    bottom: 225px;
}

#about{
    position: fixed;
    bottom: 10px;
    right: 500px;
    width:25%;
    text-align: center;
}