html {
    background-image: url("background.png");
    width: 100%;
}

h1{
    margin: 5px;
}

.nav{
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 15pt;
    text-align: center;
    position: fixed;
}

.nav > li{
    display:  inline-block;
    font-size: 15pt;
    padding-right: 50px;
}

.nav > li > a{
    color: rgb(0, 0, 0)
}

.nav > li > a:hover{
    color: rgb(255, 255, 255)
}

#table {
    background-color: black;
    color: red;
}

.table:hover {
    background-color: #ffff00;
    color: #000;
}

#table:hover {
    background-color: #ffff00;
    color: #000;
}

#slideshow{
    width: 500px;
    height: 350px;
    margin-left: 35%;
    margin-top: 500px;
}
